/* CSS RESET PROC -------------------------------- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
/* CSS RESET END-------------------------------------------- */

body {
	background:url(../../images/bgimage.jpg) #fff repeat-x top;
	font-family:"Georgia", Times New Roman, Times, serif;
	font-size:12px;
	line-height:16px;
	margin:0;
	padding:0;
}

a {text-decoration:none; padding:0; margin:0; }
a:link {color:#0099cc; }
a:visited {color:#0099cc;}
a:hover {color:#666666; }
a:active {color:#0099cc; }

#wholePage {
	margin:0 auto;
	width:950px;
	background: transparent;
}
#header{

width:950px;
float:left;
}

#header h1{  
float:left;  
margin:35px 40px 25px 40px; 
width:250px; 
height:83px; 
}
#header h1 a {  
width:250px; 
height:83px; background:url(../../images/logo.jpg) no-repeat; 
cursor:pointer; 
text-indent:-9999px; 
display:block; 
}

#headlinks { margin:71px 15px 25px 10px;float:right;  }
#headlinks a { font-size:18px; line-height:22px; letter-spacing:-1px; text-indent:-9999px;  }
#headlinks ul { display:inline;   }
#headlinks ul li{ float:left; margin-right:5px; padding:0; list-style:none; display:block; font-size:18px; line-height:19px; }

#headlinks ul li.about a:hover {height:40px; width:80px; display:block; background:url(../../images/navlinks.jpg) no-repeat 0px 0px; }
#headlinks ul li.services a:hover {height:40px; width:100px; display:block; background:url(../../images/navlinks.jpg) no-repeat -80px 0px; }
#headlinks ul li.works a:hover {height:40px; width:80px; display:block; background:url(../../images/navlinks.jpg) no-repeat -180px 0px; }
#headlinks ul li.blog a:hover {height:40px; width:70px; display:block; background:url(../../images/navlinks.jpg) no-repeat -260px 0px; }
#headlinks ul li.contact a:hover {height:40px; width:105px; display:block; background:url(../../images/navlinks.jpg) no-repeat -330px 0px; }

#headlinks ul li.about a {height:40px; width:80px; display:block; background:url(../../images/navlinks.jpg) no-repeat 0px -35px; }
#headlinks ul li.services a {height:40px; width:100px; display:block; background:url(../../images/navlinks.jpg) no-repeat -80px -35px; }
#headlinks ul li.works a {height:40px; width:80px; display:block; background:url(../../images/navlinks.jpg) no-repeat -180px -35px; }
#headlinks ul li.blog a {height:40px; width:70px; display:block; background:url(../../images/navlinks.jpg) no-repeat -260px -35px; }
#headlinks ul li.contact a {height:40px; width:105px; display:block; background:url(../../images/navlinks.jpg) no-repeat -330px -35px; }


#content{
width:950px;
float:left;
}

#topContent{
width:950px;
float:left;
background-color:#ddd;
}

#topServicesContent{
width:950px;
float:left;
height:320px;
}

#topServicesContent{
width:950px;
float:left;
height:320px;
}

#topLeftContent{
width:400px;
float:left;
background-color:#ddd;
}

#topLeftContent h2{
font-family:"Georgia", Times New Roman, Times, serif;
font-size:30px;
font-weight:500;
color:#666;
margin: 25px 30px 15px 35px;
line-height:33px;
}

#topLeftContent p{
font-family:"Georgia", Times New Roman, Times, serif;
font-size:12px;
font-weight:normal;
color:#666;
margin: 10px 30px 10px 35px;
line-height:20px;
}

#topLeftContent p{
font-family:"Georgia", Times New Roman, Times, serif;
font-size:12px;
font-weight:normal;
color:#666;
margin: 10px 30px 10px 35px;
line-height:20px;
}

#topLeftServicesContent{
width:400px;
float:left;
background-color:#ddd;
height:316px;
}

#topLeftServicesContent h2{
font-family:"Georgia", Times New Roman, Times, serif;
font-size:30px;
font-weight:500;
color:#666;
margin: 25px 30px 15px 35px;
line-height:33px;
}

#topLeftServicesContent p{
font-family:"Georgia", Times New Roman, Times, serif;
font-size:12px;
font-weight:normal;
color:#666;
margin: 10px 30px 10px 35px;
line-height:20px;
}



#topRightContent{
width:550px;
float:left;
background:#333333;
}


#topRightWorksContent {
width:542px;
height:340px;
float:left;
background:#fff;
border:#fff 4px solid;
}


#topRightAboutContent {
width:542px;
height:314px;
float:left;
background:#333;
border:#333 4px solid;
}

#topRightAboutContent h2{
font-family:"Georgia", Times New Roman, Times, serif;
font-size:30px;
font-weight:500;
color:#fff;
margin: 25px 30px 10px 45px;
line-height:34px;
}

#topRightAboutContent h3{
font-family:"Georgia", Times New Roman, Times, serif;
font-size:20px;
font-weight:500;
color:#fff;
margin: 5px 30px 0 90px;
line-height:30px;
}

#topRightAboutContent p{
font-family:"Georgia", Times New Roman, Times, serif;
font-size:12px;
font-weight:normal;
color:#fff;
margin: 0 50px 0 100px;
line-height:20px;
}

#topRightAboutContent ul{
font-family:"Georgia", Times New Roman, Times, serif;
font-size:12px;
font-weight:normal;
color:#fff;
margin: 0 50px 0 100px;
line-height:20px;
}

#topRightAboutContent ul li{
font-family:"Georgia", Times New Roman, Times, serif;
font-size:12px;
font-weight:normal;
color:#fff;
line-height:20px;
}

#topRightContent img{
width:500px;
height:272px;
margin: 25px 25px 25px 25px;
}

#topRightServicesContent {
width:550px;
height:310px;
float:left;
background:#fff;
/*border:#333 4px solid;*/
/*background:#fff;*/
/*background:url(../../images/servback.jpg) #fff repeat-y left;*/
/*border-left:#999 1px solid;*/
/*border:#999 1px solid;*/
}

#topRightServicesContent img{
margin: 0 0 0 25px
}

#topRightContactContent {
width:550px;
height:317px;
float:left;
background:#fff;
/*border:#333 4px solid;*/
}

#bottomContentServices{
width:950px;
float:left;
height:130px;
margin: 10px 50px 10px 35px;
}

#bottomContentServices h2{
font-family:"Georgia", Times New Roman, Times, serif;
font-size:30px;
font-weight:500;
color:#666;
margin: 0px 30px 0 0;
line-height:35px;
}

#bottomContentServicesGroup {
width:250px;
float:left;
height:100px;
margin: 0 15px 0 15px;
}



#bottomContentServicesGroup h3{
font-family:"Georgia", Times New Roman, Times, serif;
font-size:20px;
font-weight:500;
color:#333;
margin: 0 0 0 0;
line-height:30px;
}

#bottomContentServicesGroup p{
font-family:"Georgia", Times New Roman, Times, serif;
font-size:12px;
font-weight:normal;
color:#333;
margin: 0 0 0 0;
line-height:20px;
}

#bottomContentServicesGroup ul{
font-family:"Georgia", Times New Roman, Times, serif;
font-size:12px;
font-weight:normal;
color:#333;
margin: 0px 0px 0 30px;
line-height:20px;
}

#bottomContentServicesGroup ul li{
font-family:"Georgia", Times New Roman, Times, serif;
font-size:12px;
font-weight:normal;
color:#333;
line-height:20px;
list-style-image:url(../../images/list.jpg);
margin: 0 0 0 15px;
}

#bottomContactContent{
width:950px;
float:left;
height:80px;
margin: 10px 0px 0px 0px;
}

#bottomContactContent img{
margin: 0 75px 0 75px;
}

#bottomContent{
width:950px;
float:left;
height:85px;
margin: 10px 25px 10px 0px;
}

#bottomContent h2{
font-family:"Georgia", Times New Roman, Times, serif;
font-size:28px;
font-weight:500;
color:#666;
margin: 0px 0px 0px 30px;
line-height:30px;

}

#bottomContent a { font-size:1px; line-height:1px; letter-spacing:-1px; text-indent:-9999px;  }
#bottomContent ul { display:inline; }
#bottomContent ul li{ float:left; margin: 0 15px 0 25px ; padding:0; list-style:none; display:block; font-size:1px; line-height:1px; }

#bottomContent img.values{ margin: 5px 60px 5px 80px ; padding:0; list-style:none; display:block; font-size:1px; line-height:1px; }


#bottomContentWorks{
width:950px;
float:left;
height:170px;
margin: 10px 50px 10px 35px;
}

#bottomContentWorks h2{
font-family:"Georgia", Times New Roman, Times, serif;
font-size:30px;
font-weight:500;
color:#666;
margin: 0px 30px 0 0;
line-height:35px;
}

#bottomContentWorksGroup {
width:250px;
float:left;
height:100px;
margin: 0 15px 0 15px;
}



#bottomContentWorksGroup h3{
font-family:"Georgia", Times New Roman, Times, serif;
font-size:20px;
font-weight:500;
color:#333;
margin: 0 0 0 0;
line-height:30px;
}

#bottomContentWorksGroup p{
font-family:"Georgia", Times New Roman, Times, serif;
font-size:12px;
font-weight:normal;
color:#333;
margin: 0 0 0 0;
line-height:20px;
}

#bottomContentWorksGroup ul{
font-family:"Georgia", Times New Roman, Times, serif;
font-size:12px;
font-weight:normal;
color:#333;
margin: 0px 0px 0 30px;
line-height:20px;
}

#bottomContentWorksGroup ul li{
font-family:"Georgia", Times New Roman, Times, serif;
font-size:12px;
font-weight:normal;
color:#333;
line-height:20px;
list-style-image:url(../../images/list.jpg);
margin: 0 0 0 15px;
}

#footer{
width:950px;
float:left;
}

#footerLeft{
width:100px;
float:left;
margin: 0 0 0 10px;
}

#footerLeft a { font-size:6px; line-height:6px; letter-spacing:-1px; text-indent:-9999px;  }
#footerLeft ul { display:inline;}
#footerLeft ul li{ float:left; margin: 0 0px 0 0px ; padding:0; list-style:none; display:block; font-size:6px; line-height:6px; }

#footerRight{
width:840px;
float:left;
}

#footerRight p{
font-family:"Georgia", Times New Roman, Times, serif;
font-size:12px;
}